bin/
lib/
lib64
models/
pyvenv.cfg
.vscode/
.idea/
share/
src/logo-detector/BCC.v1-bccd.coco/
src/logo-detector/bccd_coco_tfrecords/
src/logo-detector/exported_model/
src/logo-detector/based_model
src/logo-detector/based_model_efficientnet/
src/logo-detector/efficientnet512_ft/
src/logo-detector/ssd_mobilenet_v2_ft
src/logo-detector/trained_model/
src/logo-detector/output/
src/logo-detector/log/
src/logo-detector/ssd_mobilenet_v2/
src/logo-detector/im_similar/
src/ops/app/model/im_similar_v1/
src/ops/app/model/model_v1/
bizit-dev_test-data/
data/bizit-dev_train-data/
data/LogoDet-3K
data/cropped_logo
data/test
data/bizit-dev_train-data2/
data/temp
data/bizit-dev_train-data_combine/
data/bizz.it-sim_dataset
data/bizz.it-sim_dataset_fc
data/Logos/
data/Logos-Dev/
