bin/
lib/
lib64
models/
pyvenv.cfg
.vscode/
.idea/
share/
data/Logos/
data/Logos-Dev/
src/BCC.v1-bccd.coco/
src/bccd_coco_tfrecords/
src/exported_model/
src/trained_model/
bizit-dev_test-data/
src/ssd_mobilenet_v2/
data/bizit-dev_train-data/
src/output/
data/LogoDet-3K
data/test
data/bizit-dev_train-data2/
data/bizit-dev_train-data_combine/